<div id="opacity" class="SingleLocation">
  <div id="banner" class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <p class="bigtext">{{vm.message}}</p>
      </div>
    </div>
    <div class="row" ng-if="vm.location">
      <div class="col-lg-6">
        <h1>{{vm.location.name}}</h1><small>&nbsp;{{vm.location.tagline}}</small>
      </div>
      <div class="col-lg-6">
        <p class="pull-right aligncorrection" avgrating="vm.location.avgrating" size="40" rating="rating"></p>
        <br>
        <br>
        <div id="coords" style="display:none" >{{vm.location.coords}}</div>
        <br>
        <h2 class="pull-right"> {{vm.location.distance| filterdistance}}</h2>
      </div>
    </div>
  </div>
  <div id="content" class="page-header" ng-if="vm.location">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <p class="page">Address</p>
        <div class="page"> {{vm.location.address}}
          <hr/>
        </div>
        <p class="page">Opening hours</p>
        <div class="page" ng-repeat="opening in vm.location.openinghrs">
          <p>{{opening}}</p>
        </div>
        <hr/>
        <p class="page">Facilities</p>
        <span ng-repeat="facility in vm.location.facilities">
          <span class="label label-warning" style="font-size: 1.1em;"> {{facility}}</span>&nbsp;
        </span>
        <hr/>
        <p class="page"> Contact
          <p>E-mail : {{vm.location.email}}</p>
          <p>Website  : {{vm.location.website}}</p>
          <p>Telephone No: {{vm.location.telephone}}</p>
        </p>
      </div>
      <div class="col-xs-12 col-sm-7">
        <p class="page">Location</p>
        <div id="frame" class="page"></div>
      </div>
      <hr/>
    </div>
  </div>
</div>
<div class="opacitypanel" ng-if="vm.location">
  <p class="page-head">
    <span>
      
      <button  ng-show="vm.LoggedIn" class="btn" ng-click="vm.AddReview()"><img src="/images/contract.png" height="30px" width="30px"/></button>
      <a ng-hide="vm.LoggedIn" href="/register?page={{ vm.currentPath }}" class="btn btn-default ">Login to add review</a>
    </span>&nbsp; &emsp;
    <a style="text-decoration: none; color: #debb27;" href="/locations/{{vm.location._id}}/reviews">Customer Reviews </a>
  </p>
  <div class="row reviews" ng-repeat="review in vm.location.reviews |  orderBy: reviewdate : true">
    <div class="col-xs-12">
      <div class="boxzoom1" >
        
        <div class="page-head" style="color: #debb27;" ng-click="vm.reviewredirect(vm.location._id,review.reviewtitle)">{{review.reviewtitle}}
          <p class="pull-right" avgrating="review.rating" size="25" rating="rating"></p>
        </div>
        
        <p> {{review.reviewdate | date: "dd MMMM yyyy"}}</p>
        <p class="review">{{review.review}}</p>
        <p>
          <span class="changes">
            <img  src="/images/like_on.png" height="25px" width="25px"/>
            &nbsp;
            <span class="badge-info badgemodify">{{review.upvotes}}</span>
          </span>
          &nbsp;
          <span class=" changes">
            <img src="/images/chat.png" height="30px" width="30px"/>
            &nbsp;
            <span class="badge-info badgemodify">{{review.commentnos}}</span>
          </span>
          
          &nbsp;
          <deletebin size="22px" reviewid="{{review._id}}" locationid="{{vm.location._id}}" grandfather="vm.location" unit="review"> </deletebin>
          &nbsp;
          <button type="button" class="btn btn-secondary pull-right"> {{review.author}}</button>
        </p>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/SingleLocation.js"></script>