<div class="modal-content"><span class="text-center" style="font-size: 1.5em;">Rate Us!</span>
      <div class="modal-header">
        <h1  class="modal-title">{{vm.name}}</h1>
        <p class="pull-right" style="margin-top: 10px;"><span ng-click="vm.setrating(1)"> <img id="1" src="/images/favorite1.png" height="30px" width="30px"/></span><span ng-click="vm.setrating(2)"> <img id="2" src="/images/favorite1.png" height="30px" width="30px"/></span><span ng-click="vm.setrating(3)"> <img id="3" src="/images/favorite1.png" height="30px" width="30px"/></span><span ng-click="vm.setrating(4)"> <img id="4" src="/images/favorite1.png" height="30px" width="30px"/></span><span ng-click="vm.setrating(5)"> <img id="5" src="/images/favorite1.png" height="30px" width="30px"/></span>
            
          </p>
      </div>
<form id="reviewform" ng-submit="vm.modal.submit()">
        <div class="modal-body" id="modal-body">
           

          <textarea name="reviewtitle" rows="1" placeholder="Add Title!"  ng-model="vm.formData.reviewtitle" class="form-control"></textarea><br>
          <textarea name="review" rows="5" placeholder="Here you go! Start writing here."  ng-model="vm.formData.review" class="form-control"></textarea>
        
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" >Submit</button>
            <button class="btn btn-warning" type="button" ng-click="vm.modal.cancel()">Cancel</button>

        </div>
        </form>
        <div role="alert" ng-show="vm.formMessage" class="alert alert-danger">{{vm.formMessage}}</div>
</div>

