body {
  padding: 3%;
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/restback.jpg');
  background-repeat: no-repeat;
  }



a {
  color: #00B7FF;
}

li {
padding-left: 1em;
text-indent: -1.4em;
line-height: 2.5rem;
vertical-align:text-top;
margin-bottom: 1.5rem;
}

nav>#navbarSupportedContent>.navigationform {/*float:right;  made changes for New comment*/
	margin-top: 5px !important;  /*themeclass set it as important so overriding*/
}
/**************************************************************************************//*Navbar Layouts*/
nav {opacity:0.8;
	font-size:1.8rem;
	padding:3rem;
	margin-bottom: 3rem;
}
.navbar-brand{
	font-size:3.4rem !important;
	margin-right: 10%;
	margin-top: 5%;
}

.nav-item {margin-right: 1rem;
	
}


nav>a>img {margin: 1rem;
margin-right: 1.5rem;}

  #navfilter{ float:right; }

/**************************************************************************************//**/
#content>.row>.col-sm-12.col-md-8{
	font-size: 1.8rem;
	text-align: justify;
	}

#banner >.row>.col-md-6> h1{
	font-size: 7rem !important;
	margin: 0px;
}
#banner{font-size: 1.8rem;}

.panel.sub{ 
padding: 4%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 7%;
line-height: 2;
}

#opacity{
background: rgba(0,0,0,.8);
margin:0px 3% 0px 3%;
padding: 30px;
margin-bottom: 5px;
}

.carousel-inner{
	margin-top: 0px;
}

p.page,p.page-header{font-size: 2rem;
margin-left: 0px;}

footer{ background: rgba(0,0,0,0.7);
margin-left: -25px;
margin-right: -25px;
padding:10px; }

.page-head{ font-size: 2rem;
	font-weight: bold;
 line-height: 30px;

margin-top: 10px; }
.page-head:not(.recentreviewheading):hover {
   
}

/**************************************************************************************//*All Locations box*/

.boxzoom>a {
	text-decoration: none !important;
	}

.boxzoom:hover{ -webkit-transition: all 0.4s;
	transition: all 0.4s;
	color:white;
  transform:scale(1.01);
  transform: translateX(10px);
  background: rgba(251, 251, 251, 0.4);
 }

 .boxzoom{
 padding:10px;
 	/*border-radius: 20px;*/
 	 box-shadow    : 0 0 0.5em rgba(251,251,251,0.0625);
	display:inline-block;
    width:100%;
    background: rgba(251, 251, 250, 0.2);
   border-bottom: 0.5px solid black;
 }
/**************************************************************************************/
#frame{padding: 10px;
border:25px;
border-color: blue;
width:100%;
 height:400px;
 
 }

 .card-text{
 	font-size: 2.5rem;
 	font-weight: bolder;
 	text-align: center;
 	 background: rgba(223, 110, 30, 1);
 	 color: black;
 }

 .review{
 	margin-top: 15px;
 	text-align: justify;
 	line-height: 20px;
 }

 .maxheight{ 
 max-height: 100px;
 text-overflow: ellipsis;
 overflow-y: hidden;
 }

.recentreviewheading{
	font-size: 1.5rem;
	transition: none;
	
}

 .reviews{
 	margin-top: 20px;

 }

 .comment,.comment>button{
font-size: 1.5rem !important;
 	margin: 10px;
 	margin-bottom: 1px;
 	text-align: justify;
 	line-height: 20px;
 }


 .boxzoom1{
 padding:10px;
 padding-top: 0px;
 	display:inline-block;
    width:100%;
    background: rgba(251, 251, 250, 0.2);
    border-radius: 5px;
    
   
 }
 .boxzoom1>a {
	text-decoration: none !important;
	}

 .boxzoom2{
 padding:10px;
 padding-top: 0px;
 padding-bottom: 0px;
 	display:inline-block;
    width:100%;
    background: rgba(1, 1, 0, 0.6);
    border-radius: 5px;
    /*border: 1px solid white;*/
    margin-top: 2px;
    
   
 }

.opacitypanel{
 background: rgba(1, 1, 0, 0.8);
margin:3%;
margin-top: 0px;
padding: 30px;
}
/**************************************************************************************//*RecentReviews in All reviews */
.recentreviews{
 	margin-top: 20px;
font-size: 0.8em;

 }

  .boxzoomrecent{
 padding:10px;
 padding-top: 0px;
 	display:inline-block;
    width:100%;
    background: rgba(251, 251, 250, 0.2);
   
 }
.boxzoomrecent:hover{
 box-shadow: 0 0 0 0.2rem rgba(210, 223, 0, 0.5);
	}

.boxzoomrecent>p>button.btn{
font-size: 1em !important;

}
/*************************************************************************************All messages*/
.bigtext{

	font-size: 2em;
}

.no-decor>span>a {text-decoration: none !important;}
													
/**************************************************************************************/ /*Delete Review Badge and btn (Single Location)*/
.changes{											
	padding: 2px 2px 2px 2px!important;				
	margin:1px;
	height:38px ;
}
.badgeconfirmdelete{
	background: rgba(251, 251, 250, 0.2) !important;
}
/**************************************************************************************/ /*find by distancebutton*/
.distance {

	display: none; 
	height:48px;
	border-radius:5px;
	background:rgba(251, 251, 250, 0.2);
	color:white;
	padding-left:5px;
}

.allocation {
	font-size: 1.4rem;
	height:48px;
	border-radius:5px;
	background:rgba(251, 251, 250, 0.2);
	color:white;
	padding-left:0.5rem;
}
.allocation:hover,.allocation:focus{  
	color:#4af9c2 !important; }
/*************************************************************************************Single location page rating */
.aligncorrection{
	margin-top: 2.5rem;
}
h2.pull-right{

	margin:0px;
}
/**************************************************************************************//*Error page*/
#opacityerror{

/* background-image: url('/images/404.jpg');
  background-repeat: no-repeat;*/
margin: 0% 3% 0% 3%;
padding: 3%;
margin-bottom: 0.5rem;


}

p.address{
	font-size: 1.4rem;
	width: 70%;
}

/**************************************************************************************//*Navigator clear button*/

.clearbtn {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.clearbtn:hover {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.filterbox {
	
}
/*************************************************************************//*All reviews like and comment badge*/
.badgemodify{

	
	padding: 0px 2px 0px 2px;
	margin: 0.4rem;
	margin-left: 0px;
	border-radius: 0.3rem;
}
/**************************************************************************************/
.postlocation,.findbylocation {

	background:rgba(251, 251, 250, 0.3);
	margin: 0px 2px 0px 2px;
	border: 1px solid white;
}
/************************************************************************************** Modal position and color*/
.modal-content {
/*   position: absolute;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;*/
   z-index: 1050;
   overflow: auto;

   background:rgba(5, 10, 2, 0.5) !important;
}

div.modal-dialog {
   position:static;
     top: 0px;
   right: 0px;
 }
 /**************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*Nav bar User button*/
.button.btn.userbtn{

  background-color:#007bffc4;
  border: 1px solid #007bff ;
  list-style: none
}

.button.btn.userbtn:hover {
  
  background-color: #007bff;
  border-color: #007bff;
}

.button.btn.userbtn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.userbtn>li>a{
	color: #fff !important;
	margin: 0px;
	text-decoration: none;
	font-size: 1em;

}

.userbtn>li>a:hover{
	color: #fff !important;
}
.userbtn>li.dropdown{
	margin: 0px;
}
.userbtn>li>ul.dropdown-menu {
background-color: #f9fafa; 
min-width: 10rem;
position: absolute;
top: 130%;
right: -18%;

}

.userbtn>li.dropdown>ul>li{
	margin-bottom: 0.5rem !important;
}

.userbtn>li.dropdown>ul>li:hover{
	background-color: #15b5c1;
}


a.button.btn.userbtn {	
	color: #fff !important;
	margin-top:0.5rem;
	text-decoration: none;
	}

.button.btn.userbtn>.dropdown{

 padding: 0rem 0rem 0rem 2rem;
}

ul.button.btn.userbtn { margin-top: 0.4rem;
	padding-top: 0.6rem;
padding-bottom: 0.6rem ;}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/    
#navbarSupportedContent{
	margin-top: 2rem;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 768px) {
  .navbar-header {
    float: left;
  }
  #navbarSupportedContent li {
  	text-indent: 0px;
  }

  #navfilter{ float:left; }

  .navbar-nav .nav-link{ padding:0px 0px; }

  nav.navbar{ justify-content: space-between;
  }
 /* nav button.navbar-toggler {float:right;}*/

 #carouselExampleIndicators .panel.sub{
 	margin: 0px;
 	margin-bottom: 10px;
 }

 ol.carousel-indicators { bottom: -20px; }
 a.carousel-control-next {right: -11%;}
  a.carousel-control-prev {left: -11%;}
}