doctype html
html(ng-app='RestfinderAng')
  head
    meta(name='viewport',content='width-device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/amelia.bootstrap.css')
    script(src='/Angular/angular.min.js')
    script(src='/Angular/RestfinderAng.js')


  body
   nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top
    a(href='/') 
       img(src='/images/icon1.png', width='60', height='60', alt='') 
    a(href='/')
      span.navbar-brand RestFinder
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
     span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
     ul.navbar-nav.mr-auto
       li.nav-item.active
         a.nav-link(href='/')
           | Home
           span.sr-only (current)
       li.nav-item
         a.nav-link(href='/about') About
       li.nav-item
         a.nav-link(href='/locations') Browse Locations
       li.nav-item
         a.nav-link(href='/users/signup') Sign Up
     form.form-inline.my-2.my-lg-0..pull-right
       input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
       button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
   .box
     block content
  footer
    .row
      .col-xs-12
       small &copy; Pratyush Mishra 2018


  script(src='/javascripts/jquery-3.3.1.slim.min.js')
  script(src='/javascripts/bootstrap.min.js')
  
 