          <span class="btn changes">
            <span class="confirm" ng-click="deleteoptions=!deleteoptions"> 
              <img src="/images/bin.png" height="{{size}}" width="{{size}}"/></span>
                <span class="badge badgeconfirmdelete" ng-show="deleteoptions">
                  <span  ng-click="deleteconfirm($event)"><img src="/images/correct.png" height="{{size}}" width="{{size}}"/></span>
                  &nbsp;
                  <span ng-click="deleteoptions=!deleteoptions" ><img src="/images/cancel.png" height="{{size}}" width="{{size}}"/>
                  </span>
                 
                </span>
            </span>
              
