extends layout

block content
 #opacity
  #banner.page-header
   .row
     .col-lg-6
      h1 RestFinder
      small &nbsp;Find places to work with wifi near you!
      
     .col-lg-6
       button.pull-right.btn.postlocation
        img(src='/images/contract.png', height='30px', width='30px')
       button.pull-right.btn.allocation(style="width:56px;") ALL
       button.pull-right.btn.findbylocation
        img(src="/images/find.png" height="30px" width="30px")
       input.distance.pull-right(type='text', name='distance', size='15px',required="required", placeholder=" Meters (m)")
       
  #content.page-header
   .row
    .col-xs-12.col-sm-8(ng-controller='locationListCtrl')
      p.bigtext.message {{message}}
        .boxzoom(ng-repeat="location in data.locations | filter : textFilter")
          a(href="/locations/{{location._id}}/") 
            .page-head {{location.name}}
             p.pull-right(avgrating="location.avgrating",size=25,rating)

          p.address {{location.address}}
          p
            span(ng-repeat="facil in location.facilities")
             button.btn.btn-light(type='button')  {{facil}} 
             |&nbsp   
            button.btn.btn-danger.pull-right(type='button')  {{location.distance | filterdistance}}

     

    .col-xs-12.col-sm-4
       p.page-header RestFinder helps you find places to rest when out and about.
       p.page This simple, easy, fast, and fun food finder works worldwide.

 script(src='/javascripts/AllLocation.js')


     