extends layout

block content
 #opacity
  #banner.page-header
   .row
     .col-lg-6
      h1 RestFinder
      small &nbsp;Find places to work with wifi near you!
  #content.page-header
   .row
    .col-xs-12.col-sm-8
      p.page-head Helping people discover great places around them.
      p Aim to gather information from every restaurant on a regular basis to ensure our data is fresh. Our vast community of food lovers share their reviews and photos, so you have all that you need to make an informed choice.
      hr
      p.page-head Building amazing experiences around dining.
      p Starting with information for over 1 million restaurants (and counting) globally, we're making dining smoother and more enjoyable with services like online ordering and table reservations.
      hr
      p.page-head Enabling restaurants to create amazing experiences.
      p.page With dedicated engagement and management tools, we're enabling restaurants to spend more time focusing on food itself, which translates directly to better dining experiences.
    .col-xs-12.col-sm-4
      img(src='/images/me.jpg',height='360px',width='315px' alt='Awesome Guy')
      p.page-head Developed By : Pratyush Mishra
