<div id="opacity"  class="AllLocation">
  <div id="banner" class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h1>RestFinder</h1><small>&nbsp;Find places to work with wifi near you!</small>
      </div>
      <div class="col-lg-6">
        <button class="pull-right btn postlocation"><img src="/images/contract.png" height="30px" width="30px"/></button>
        <button style="width:56px;" class="pull-right btn allocation" ng-click="vm.allocation()">ALL</button>
        <button class="pull-right btn findbylocation" ng-click="vm.distanceinputfilter()"><img src="/images/find.png" height="30px" width="30px"/></button>
        <input type="text" name="distance" size="15px" required="required" placeholder=" Meters (m)" class="distance pull-right"/>
      </div>
    </div>
  </div>

<div id="content" class="page-header">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <p class="bigtext message">{{vm.message}}</p>
        <div ng-repeat="location in vm.data.locations | filter : textFilter" class="boxzoom"><a href="/locations/{{location._id}}/">
            <div class="page-head">{{location.name}}
              <p avgrating="location.avgrating" size="25" rating="rating" class="pull-right"></p>
            </div></a>
          <p class="address">{{location.address}}</p>
          <p><span ng-repeat="facil in location.facilities">
              <button type="button" ng-click="vm.facilitiesfilter($event)" class="btn btn-light"> {{facil}} </button>&nbsp   </span>
            <button type="button" ng-click="vm.distancefilter($event)" class="btn btn-danger pull-right"> {{location.distance | filterdistance}}</button>
          </p>
        </div>
      

      <form id="rendered-form"> <span class="bigtext">Add Location   </span>  
         <div class="rendered-form">   
         <div class="fb-text form-group field-name">
         <label for="name" class="fb-text-label">Name<span class="fb-required">*</span></label>
         <input type="text" placeholder="Restaurant Name " class="form-control" name="name" maxlength="30" id="name" required="required" aria-required="true">
         </div>
         <div class="fb-text form-group field-tagline">
         <label for="tagline" class="fb-text-label">Tagline</label>
         <input type="text" placeholder="Tagline" class="form-control" name="tagline" maxlength="50" id="tagline">
         </div>
         <div class="fb-text form-group field-address"><label for="address" class="fb-text-label">Address<span class="fb-required">*</span></label>
         <input type="text" placeholder="Address" class="form-control" name="address" maxlength="100" id="address" required="required" aria-required="true">
         </div>
         <div class="fb-text form-group field-openinghrs">
          <label for="openinghrs" class="fb-text-label">Timings</label>
          <input type="text" placeholder="Format : Monday - Friday : 1200 hrs - 1800 hrs, Saturday : 1200 hrs - 1600 hrs, Sunday : Closed" class="form-control" name="openinghrs" maxlength="100" id="openinghrs">
         </div>
         <div class="fb-text form-group field-facilities">
          <label for="facilities" class="fb-text-label">Facilities</label>
          <input type="text" placeholder="Ojo,Bouncy Banana, Hand of God dates" class="form-control" name="facilities" maxlength="100" id="facilities">
         </div>
         <div class="fb-number form-group field-lat">
          <label for="lat" class="fb-number-label">Latitude<span class="fb-required">*</span></label>
         <input type="number" placeholder="17.423180" class="form-control" name="lat" min="-90" max="90" id="lat" required="required" aria-required="true">
         </div>
         <div class="fb-number form-group field-lng"><label for="lng" class="fb-number-label">Longitude<span class="fb-required">*</span></label>
         <input type="number" placeholder="78.340959" class="form-control" name="lng" min="-180" max="180" id="lng" required="required" aria-required="true">
         </div>
         <div class="fb-text form-group field-email"><label for="email" class="fb-text-label">E-mail</label><input type="text" placeholder="E-mail" class="form-control" name="email" maxlength="50" id="email">
         </div>
         <div class="fb-text form-group field-website">
          <label for="website" class="fb-text-label">Website</label>
          <input type="text" placeholder="Website" class="form-control" name="website" maxlength="50" id="website">
         </div>
         <div class="fb-text form-group field-telephone">
          <label for="telephone" class="fb-text-label">Telephone No.</label>
         <input type="text" placeholder="+91-123456789" class="form-control" name="telephone" maxlength="15" id="telephone">
         </div>
         <div class="fb-button form-group field-postlocationsubmit">
          <button type="button" class="btn btn-success"  style="success" ng-click="vm.postlocationsubmit()">Submit</button></div>
         </div></form>


    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="page-header">RestFinder helps you find places to rest when out and about.</p>
      <p class="page">This simple, easy, fast, and fun food finder works worldwide.</p>
    </div>
  </div>
</div>
<script src="/javascripts/AllLocation.js"></script>
</div>